* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.even-spread {
    justify-content: space-evenly;
}

.soft-border {
    border: 1px solid;
}

.button {
    border-radius: 5px;
    line-height: 3em;
    padding: 0 1.2em;  
    max-width: 100%;
    /* min-width: 8rem; */
}

.strong-bottom {
    border-bottom: 3px solid black;
}

.offer {
    width: 98%;
    top: 0;
    left: 0;
    margin-top: 0;
    text-align: center;
    padding: 1%;
}

.top-bar {
    gap: 20px;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.top-bar a img{
    height: auto;
    text-decoration: none;
}

.search-box {
    display: flex;
    border-color: #ccc;
    border-radius: 100px;
    overflow: hidden;
    height: 3em; 
    width: 50%;
}

.top-bar p {
    line-height: 1.4;
    overflow: hidden;
}

.search-input {
    flex-grow: 1; 
    padding: 8px 12px;
    border: none;
    outline: none; 
}

.nonsidebar {
    float: left;
}

.top-container {
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 40%;
    padding-bottom: 3%;
}

.path {
    font-size: small;
    padding-top: 1.2em;
}

.course-title {
    padding-top: 1.2em;
}   

.course-description {
    padding-top: 1.2em;
    font-size: large;
}

.course-rating {
    font-size: small;
    display: flex;
    flex-direction: row;
    padding-top: 1.2em;
    gap: 10px;
}

.author {
    font-size: small;
    gap: 5px;
    padding-top: 1.2em;
}

.course-stats {
    font-size: small;
    align-items: center;
    padding-top: 1.2em;
    gap: 10px;
}

.bottom-container {
    padding-top: 3%;
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 40%;
    padding-bottom: 3%;
    
}

.what-learn {
    border: 1px solid black;
    padding: 3%;
    font-size: small;
}

.what-learn h2 {
    padding-bottom: 3%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li::before {
    content: "✓ ";
    color: black;
    margin-right: 5px;
}

.icon {
    max-width: 20px;
    max-height: 20px;
}

.column {
    width: 48%;
}

.column:first-child {
    margin-right: 4%;
}

.column:last-child{
    float: right;
}

.sidebar {
    position: absolute;
    top: 175px;
    right: 220px;
    z-index: 10; 
    box-shadow: black 0px 4px 8px;
    max-width: 350px;
}

.sidebar img {
    max-width: 350px;
    
}

.sidebar-content {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2em;
    margin-bottom: 1em;
}

.buttons-container {
    padding: 5%;
}

.prices {
    align-items: center;
}

.fill {
    width: 100%;
}

.sidebar-content>button {
    margin-bottom: 1em;
}

.options {
    align-items: center;
    margin-bottom: 1em;
    font-size: small;
}

.options>p{
    border-bottom: 1px solid #6d28d2;
}

.applied-coupon {
    border: 1px dashed gray;
    padding: 0.5em;
    max-width: 94%;
}

.applied-coupon>p {
    line-height: 1em;
}

.enter-coupon-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 90%;
}

.enter-coupon-container>input {
    flex-grow: 1;
    padding: 8px 12px;
    outline: none; 
    border-radius: 4px;
}

.enter-coupon-container>button {
    flex-grow: 1;
    border-radius: 5px;
    line-height: 3em;
    padding: 0 1.2em;  
    min-width: 7em;
    max-width: 100%;
}


.subscribe {
    line-height: 1.2em;
}

.subscribe>h2{
    margin-bottom: 1em;
}

.subscribe>p{
    margin-bottom: 1em;
}

.related-topics {
    margin-top: 2em;
    margin-bottom: 50px;
}

.related-topics>.row{
    gap: 10px;
}

.small-icon {
    max-height: 15px;
    max-width: 15px;
}