Labs/Lab5/.idea/jsLibraryMappings.xml
Labs/Lab5/.idea/Lab5.iml
Labs/Lab5/.idea/modules.xml
Labs/Lab5/.idea/vcs.xml
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/config/applicationhost.config
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/CopilotIndices/17.14.670.39694/CodeChunks.db
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/CopilotIndices/17.14.670.39694/SemanticSymbols.db
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/DesignTimeBuild/.dtbcache.v2
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/FileContentIndex/1d8f5037-733e-4ae9-b279-f3f8a8e0f766.vsidx
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/FileContentIndex/6057bb04-dd8a-48ea-ba2b-26c6f601e83b.vsidx
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/FileContentIndex/955c50ab-3433-4c46-a1cf-7e43b93d4006.vsidx
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/FileContentIndex/bb3c0926-a9b0-467a-8940-2eec5154e422.vsidx
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/FileContentIndex/d2e57bba-bf9a-472e-bc7d-7d1cb93c19ef.vsidx
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/v17/.suo
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/v17/DocumentLayout.backup.json
Labs/Lab10/ECommerceApp/.vs/ECommerceApp/v17/DocumentLayout.json
