.bg-light {
    background-color: #c0c4fc;
}

.bg-dark {
    background-color: #6d28d2;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #97dfe3;
}

.bg-black {
    background-color: #1d1e27;
}