* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.bold {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.even-spread {
    justify-content: space-evenly;
}

.link {
    color: #c0c4fc;
    text-decoration: underline;
}

.offer {
    background-color: #97dfe3;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    text-align: center;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.top-bar a img{
    height: auto;
    text-decoration: none;
}

.search-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 100px;
    overflow: hidden;
    height: 2; 
    width: 50%;
}

.top-bar p {
    line-height: 1.4;
    overflow: hidden;
}

.search-input {
    flex-grow: 1; 
    padding: 8px 12px;
    border: none;
    outline: none; 
}

.log-in-button {
    background-color: white;
    color: #6d28d2;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 3em; 
    font-weight: bold;  
    padding: 0 1.2em;  
    max-width: 100%;
    min-width: 8rem;
}

.sign-up-button {
    background-color: #6d28d2;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 3em; 
    font-weight: bold;  
    padding: 0 1.2em;  
    max-width: 100%;
    min-width: 8rem;
}

.nonsidebar {
    float: left;
}

.top-container {
    background-color: #1d1e27;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 40%;
    padding-bottom: 3%;
}

.path {
    font-size: small;
    font-weight: bold;
    color: #c0c4fc;
    padding-top: 1.2em;
}

.course-title {
    color: white;
    padding-top: 1.2em;
}   

.course-description {
    color: white;
    padding-top: 1.2em;
    font-size: large;
}

.course-rating {
    font-size: small;
    display: flex;
    flex-direction: row;
    padding-top: 1.2em;
    gap: 10px;
}

.stars {
    color: yellow;
    font-weight: bold;
}

.students {
    color: white;
}

.author {
    font-size: small;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
    padding-top: 1.2em;
}

.course-stats {
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.2em;
    color: white;
    gap: 10px;
}

.last-update {
    color: yellow;
}

.bottom-container {
    padding-top: 3%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 40%;
    padding-bottom: 3%;
}

.what-learn {
    border: 1px solid black;
    padding: 3%;
    font-size: small;
}

.what-learn h2 {
    padding-bottom: 3%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li::before {
    content: "✓ ";
    color: black;
    margin-right: 5px;
}

.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.column:first-child {
    margin-right: 4%;
}

.column:last-child{
    float: right;
}

.show-more {
    font-weight: bold;
    color: #6d28d2;
}

.sidebar {
    background-color: white;
    position: absolute;
    top: 200px;
    right: 200px;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    box-shadow: black 0px 4px 8px;
}

.sidebar img {
    max-width: 400px;
    
}

.buttons-container {
    padding: 5%;
}

.buttons-container:has(p:nth-child(1)) {
    border-bottom: 3px solid black;
}