.category-buttons {
    margin-left: 10px;
}

#product-list {
    margin-left: 50px;
    height: 100px;
}

#create-product-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#product-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 400px;
    flex-direction: column;
    gap: 10px;
}

#update-product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#product-table {
    width: 300px;
}