html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    bottom: 75px;
    background-color: grey;
    min-height: 1080px;
}

#header {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: 100;
    align-items: center;
}

#title {
    width:50%;
    margin:0 auto;
    text-align:center;
    color:goldenrod;
}

nav {
    color: goldenrod;
}

nav > a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

#intro {
    background-color: black;
    margin-top: 80px;
    min-width: 100%;
}

#battles,
#planets,
#species {
    width:50%;
    margin:0 auto;
    padding-top: 2%;
    padding-bottom: 1%;
    scroll-margin-top: 60px;
}

#planetInfo, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

.images {
    max-width: 30%;
    min-width: 300px;
    max-height: 400px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: antiquewhite;
    padding-top: 5px;
    overflow: hidden;
}