@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilterProducts</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    
</head>
<body>
    <p>
        Logged in as @Context.Session.GetString("username")
    </p>
    <a href="/Account/Logout" id="logout">Logout</a>
    <br />
    <div id="category-buttons"></div>
    <br />
    Product list:
    <div id="product-list"></div>
    <br />
    <div id="page-buttons">
        <button id="prev-button" onclick="prevPage()">Prev</button>
        <button id="next-button" onclick="nextPage()">Next</button>
    </div>
    <br />
    Shopping cart:
    <div id="cart-container"></div>
    <br />
    <div id="product-form">
        <input type="text" id="product-name" />
        <input type="text" id="product-price" />
        <select id="category-options" name="category"></select>
        <button id="create-button" onclick="createProduct()">Create</button>
        <button id="cancel-button" onclick="cancel()">Cancel</button>
        <button id="update-button" onclick="update()">Update</button>
        <p id="error-label" style="color:red;"></p>
    </div>
    <br />
    <div id="confirmation">
        <p>Are you sure you want to delete this item?</p>
        <button onclick="confirmDeletion()">Yes</button>
        <button onclick="cancelDeletion()">No</button>
    </div>
    
</body>
<script>
    var currentPage = 1;
    var currentCategory = '';
    var totalPages = 0;
    var currentProduct = undefined;
    var productToBeDeleted = undefined;

    $(document).ready(function(){
        $.get("/Main/GetCategories",
            function(data, status) {
                $("#category-buttons").html(data);
            }
        );

        $("#prev-button").prop("disabled", true);
        $("#next-button").prop("disabled", true);
        $("#update-button").prop("disabled", true);
        $("#confirmation").css("visibility", "hidden");

        populateCategoryOptions();
    });

    async function getCategories() {
        let categories;

        await $.get("/Main/GetRawCategories",
            function(data, status) {
                categories = data;
            }
        );

        return categories;
    }

    async function populateCategoryOptions() {
        let categories = await getCategories();

        let categoryOptions = document.getElementById("category-options");

        for (let category of categories) {
            let option = document.createElement("option");
            option.textContent = category;

            categoryOptions.appendChild(option);
        }
    }

    function setTotalPages() {
        $.get("/Main/GetTotalPages", { categoryId : currentCategory },
            function(data, status) {
                totalPages = data;
            }
        );
    }

    function setCategory(category) {
        currentCategory = category;
        currentPage = 1;

        populateCategory();
        setTotalPages();

        disableButtons();
    }

    function populateCategory() {
        setTotalPages();

        $.get("/Main/GetProductsFromCategory", { categoryId : currentCategory, page : currentPage },
            function(data, status) {
                $("#product-list").html(data);
            }
        );
    }

    function nextPage() {
        currentPage += 1;

        if (currentCategory != '') {
            populateCategory();
        }

        disableButtons();
    }

    function prevPage() {
        currentPage -= 1;

        if (currentCategory != '') {
            populateCategory();
        }

        disableButtons();
    }

    function disableButtons() {
        $("#next-button").prop("disabled", currentPage == totalPages);
        $("#prev-button").prop("disabled", currentPage == 1);
    }

    function addToCart(productId) {
        $.get("/Main/AddToCart", { productId : productId },
            function(data, status) {
                $.get("/Main/GetCart",
                    function(data, status) {
                        $("#cart-container").html(data);
                    }
                );
            }
        );
    }

    function removeFromCart(productId) {
        $.get("/Main/RemoveFromCart", { productId : productId },
            function(data, status) {
                $.get("/Main/GetCart",
                    function(data, status) {
                        $("#cart-container").html(data);
                    }
                );
            }
        );
    }

    function createProduct() {
        let productName = $("#product-name").val();
        let price = $("#product-price").val();
        let categoryName = $("#category-options").val();

        $.get("/Main/CreateProduct", { productName : productName, price : price, categoryName : categoryName},
            function(data, status) {
                if (data == "success") {
                    if (currentCategory != '') {
                        currentPage = 1;
                        populateCategory();
                        disableButtons();
                    }
                    $("#error-label").html("");
                } 
                else 
                {
                    $("#error-label").html(data);
                }
            }
        );
    }

    function deleteProduct(productId) {
        productToBeDeleted = productId;
        $("#confirmation").css("visibility", "visible");
    }

    async function selectProduct(productId) {
        currentProduct = productId;
        $("#create-button").prop("disabled", true);
        $("#update-button").prop("disabled", false);
        $("#error-label").html("");

        $.get("/Main/GetProductName", { productId : productId },
            function(data, status) {
                $("#product-name").val(data);
            }
        );

        $.get("/Main/GetProductPrice", { productId : productId },
            function(data, status) {
                $("#product-price").val(data);
            }
        );

        $.get("/Main/GetProductCategory", { productId : productId },
            function(data, status) {
                $("#category-options").val(data);
            }
        );
    }

    function cancel() {
        currentProduct = undefined;
        $("#create-button").prop("disabled", false);
        $("#update-button").prop("disabled", true);
        $("#product-name").val("");
        $("#product-price").val("");
        $("#error-label").html("");
    }

    function update() {
        if (currentProduct) {
            let productName = $("#product-name").val();
            let price = $("#product-price").val();
            let categoryName = $("#category-options").val();

            $.get("/Main/UpdateProduct", { productId : currentProduct, productName : productName, price : price, categoryName : categoryName},
                function(data, status) {
                    if (data == "success") {
                        if (currentCategory != '') {
                            currentPage = 1;
                            populateCategory();
                            disableButtons();
                        }
                        $("#error-label").html("");
                    }
                    else
                    {
                        $("#error-label").html(data);
                    }
                }
            );
        }
    }

    function confirmDeletion() {
        $("#confirmation").css("visibility", "hidden");
        $.get("/Main/deleteProduct", { productId : productToBeDeleted },
            function(data, status) {
                if (currentCategory != '') {
                    currentPage = 1;
                    populateCategory();
                    disableButtons();
                }
            }
        );
        removeFromCart(productToBeDeleted);
        productToBeDeleted = undefined;
    }

    function cancelDeletion() {
        $("#confirmation").css("visibility", "hidden");
        productToBeDeleted = undefined;
    }
</script>
</html>