<div class="category-list">
    <table>
        <tbody>
            <tr *ngFor="let category of categories" [class.selected]="category === selectedCategory" (click)="onSelect(category)">
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="product-list">
    <table>
        <tbody>
            <tr *ngFor="let product of products">
                <td (click)="selectProduct(product)">{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="products.length === 0"><span>No products in category!</span></div>
</div>
<div class="page-buttons">
    <button id="prev-button" [disabled]="currentPage == 1" (click)="prevPage()">Previous page</button>
    <button id="next-button" [disabled]="currentPage == totalPages" (click)="nextPage()">Next page</button>
</div>
<div  *ngIf="visibleDetails == true" id="product-details">
    <form id="update-product-form">
        <input id="product-id-field" type="hidden" name="id"/>
        Name: <input id="product-name-field" type="text" name="pname" [value]="selectedProduct ? selectedProduct.name : ''"/>
        Price: <input id="product-price-field" type="text" name="price" [value]="selectedProduct ? selectedProduct.price : ''"/>
        Category: <select id="category-options" name="category" [value]="selectedProduct ? selectedProduct.category : ''">
            <option *ngFor="let category of categories">{{ category.name }}</option>
        </select>
        <input type="submit" />
        <!--<button (click)="minimize()">_</button>-->
    </form>
    <div id="form-message"></div>
</div>
