<div class="category-list">
    <table>
        <tbody>
            <tr *ngFor="let category of categories" [class.selected]="category === selectedCategory" (click)="onSelect(category)">
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="product-list">
    <table>
        <tbody>
            <tr *ngFor="let product of products">
                <td (click)="selectProduct(product)">{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="products.length === 0"><span>No products in category!</span></div>
</div>
<div class="page-buttons">
    <button id="prev-button" [disabled]="currentPage == 1" (click)="prevPage()">Previous page</button>
    <button id="next-button" [disabled]="currentPage == totalPages" (click)="nextPage()">Next page</button>
</div>
<div *ngIf="visibleDetails" id="product-details">
    <form id="update-product-form">
        <span>Name:</span>
            <input id="product-name-field" type="text" #productName [value]="selectedProduct?.name || ''"/>
        <span>Price:</span>
            <input id="product-price-field" type="text" #productPrice [value]="selectedProduct?.price || ''"/>
        <span>Category:</span>
            <select id="category-options" #productCategory>
            <option *ngFor="let category of categories" [value]="category.name" [selected]="category.name === selectedProduct?.category">{{ category.name }}</option>
            </select>
        <button type="button" (click)="updateProduct(selectedProduct, productName.value, productPrice.value, productCategory.value)">Update</button>
        <button type="button" (click)="minimize()">Hide</button>
    </form>
    <div id="form-message" [class.error]="formMessage.includes('failed')">{{ formMessage }}</div>
  </div>
