.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    margin: 3px;
}

.submenus {
    position: absolute;
    width: 100%;
}

.components {
    margin-left: 10px;
    display: none;
}

.component {
    margin: 3px;
}