@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" action="/Home/BeginReservation">
        <label for="username">Name:</label>
        <input type="text" name="username" required/>
        <label for="date">Date:</label>
        <input type="date" name="date" required/>
        <label for="city">City:</label>
        <input type="text" name="city" required />
        <button type="submit">Begin Reservation</button>
    </form>
</div>

<script>
</script>
